<div class="container-fluid">
  <%= link_to 'Regresar', visitors_path, class: 'btn btn-secondary mb-5' %>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <% if @visitor.photo.attached? %>
          <%= image_tag(@visitor.photo, class: "card-img-top", id: "shot") %>
        <% else %>
          <img class="card-img-top" src="/cat.jpg" id="shot" style="width: 18rem;">
        <% end %>
      </div>
    </div>

    <div class="col-8">
      <div class="row pt-5">
        <div class="col-5">
          <label for="">Cedula</label>
          <input type="text" disabled="true" value= <%= @visitor.dni %> class="form-control"> 
        </div>

        <div class="col-5">
          <label for="">Nombre completo</label>
          <input type="text" disabled="true" value= <%= "#{@visitor.first_name} #{@visitor.last_name}" %> class="form-control"> 
        </div>
      </div>

      <div class="row pt-5">
        <div class="col-5">
          <label for="">Eps</label>
          <input type="text" disabled="true" value= <%= @visitor.health.name %> class="form-control"> 
        </div>

        <div class="col-5">
          <label for="">Arl</label>
          <input type="text" disabled="true" value= <%= @visitor.security.name %> class="form-control"> 
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col">
      <h2>Historial de visitas</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <thead>
              <th>Fecha</th>
              <th>Piso</th>
              <th>Oficina</th>
              <th>Hora de ingreso</th>
              <th>Hora de salida</th>
              <th>Temperatura de entrada</th>
              <th>Temperatura de salida</th>
            </thead>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
