<div class="card shadow p-3 mb-0 bg-white rounded">
  <div class="row mb-0">
    <div class="col-10">
      <h2><%= link_to 'Visitas activas', active_visit_path %></h2>
    </div>
    <div class="col-2">
      <%= link_to 'Agregar visita', new_visit_path, class: 'btn btn-success' %>
    </div>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Oficina</th>
          <th>Cedula</th>
          <th>Nombre completo</th>
          <th class="center-text">Ficha</th>
          <th class="center-text">Hora de ingreso</th>
          <th class="center-text">Tem. Ingreso</th>
          <th class="center-text">Opciones</th>
        </tr>
      </thead>
      <% obj.each do |visit| %>
        <tr>
          <td><%= link_to visit.office.name, office_path(visit.office) %></td>
          <td><%= link_to visit.visitor.dni, visitor_path(visit.visitor) %></td>
          <td><%= link_to "#{visit.visitor.first_name} #{visit.visitor.last_name}", visitor_path(visit.visitor) %></td>
          <td class="center-text"><%= link_to visit.token.name, token_path(visit.token) %></td>
          <td class="center-text"><%= visit.created_at.in_time_zone('America/Bogota').strftime("%r") %></td>
          <td class="center-text"><%= visit.in_temperature %>°</td>
          <td class="center-text"><%= link_to 'Ver visita', visit, class: 'btn btn-info' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
