<div class="h2">
  Visitas activas
</div>
<div class="card">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Oficina</th>
          <th>Cedula</th>
          <th>Nombre completo</th>
          <th class="center-text">Ficha</th>
          <th class="center-text">Hora de ingreso</th>
          <th class="center-text">Tem. Ingreso</th>
          <th class="center-text">Opciones</th>
        </tr>
      </thead>
      <% obj.each do |visit| %>
        <tr>
          <td><%= visit.office.name %></td>
          <td><%= visit.visitor.dni %></td>
          <td><%= "#{visit.visitor.first_name} #{visit.visitor.last_name}" %></td>
          <td class="center-text"><%= visit.token.name %></td>
          <td class="center-text"><%= visit.created_at.in_time_zone('America/Bogota').strftime("%r") %></td>
          <td class="center-text"><%= visit.in_temperature %>°</td>
          <td class="center-text"><%= link_to 'Ver visita', visit, class: 'btn btn-info' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
