<div class="container-fluid">
  
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="row mb-0">
      <div class="col-10">
        <h1>Visitas activas</h1>
      </div>
      <div class="col-2">
        <%= link_to 'Agregar visita', new_visit_path, class: 'btn btn-success' %>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Cedula</th>
            <th>Nombre completo</th>
            <th class="center-text">Oficina</th>
            <th class="center-text">Ficha</th>
            <th class="center-text">Empresa</th>
            <th class="center-text">Temp. Entrada</th>
            <th class="center-text">Hora entrada</th>
            <th class="center-text">Opciones</th>
          </tr>
        </thead>
        <% @visits.in.each do |visit| %>
          <tr>
            <td><%= link_to visit.visitor.dni, visitor_path(visit.visitor) %></td>
            <td><%= link_to "#{visit.visitor.first_name} #{visit.visitor.last_name}", visitor_path(visit.visitor) %></td>
            <td class="center-text"><%= link_to visit.office.name, office_path(visit.office) %></td>
            <td class="center-text"><%= link_to visit.token.name, token_path(visit.token) %></td>
            <td class="center-text"><%= visit.visitor.company %></td>
            <td class="center-text"><%= number_with_precision(visit.in_temperature, precision: 1) %>°</td>
            <td class="center-text"><%= visit.created_at.in_time_zone('America/Bogota').strftime("%r") %></td>
            <td class="center-text">
              <%= link_to 'Dar salida', edit_visit_path(visit), class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
        
      </table>
    </div>
  </div>
</div>
