<p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>In temperature</th>
      <th>Out temperature</th>
      <th>Status</th>
      <th>Visitor</th>
      <th>Floor</th>
      <th>Office</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.in_temperature %></td>
        <td><%= visit.out_temperature %></td>
        <td><%= visit.status %></td>
        <td><%= visit.visitor_id %></td>
        <td><%= visit.floor_id %></td>
        <td><%= visit.office_id %></td>
        <td><%= visit.token_id %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
