<div class="container-fluid">
  <%= link_to 'Regresar', visit_history_path, class: 'btn btn-secondary mb-5' %>
  <div class="h2">Visitante</div>
  <p>
    <%= "#{@visit.visitor.first_name} #{@visit.visitor.last_name}" %> | 
    Cedula: <%= @visit.visitor.dni %>
  </p>

  <div class="card">
    <div class="card-header">
      Datos de la visita
      <div class="badge bg-info text-white px-3 py-2">
        <%= @visit.created_at.strftime("%x") %>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-4 center-text">
          <h4>Hora de ingreso</h4>
          <div class="badge bg-info text-white px-3 py-2"><%= @visit.created_at.in_time_zone('America/Bogota').strftime("%R %P") %></div>
        </div>
      
          
        <div class="col-4 center-text">
          <h4>Hora de salida</h4>
          <div class="badge bg-info text-white px-3 py-2">
            <% if @visit.created_at == @visit.updated_at %>
              Sin tomar
            <% else %>
              <%= @visit.updated_at.in_time_zone('America/Bogota').strftime("%R %P") %>
            <% end %>
          </div>
        </div>
          
        <div class="col-4 center-text">
          <h4>Piso</h4>
          <div class="badge bg-info text-white px-3 py-2"><%= @visit.floor.name %></div>
        </div>
      </div>
      
      <div class="row mt-3">
    
        <div class="col-4 center-text">
          <h4>Oficina</h4>
          <div class="badge bg-info text-white px-3 py-2"><%= @visit.office.name %></div>
        </div>

        <div class="col-4 center-text">
          <h4>Temperatura de entrada</h4>
          <div class="badge bg-info text-white px-3 py-2"><%= @visit.in_temperature %>°</div>
        </div>

        <div class="col-4 center-text">
          <h4>Temperatura de salida</h4>
          <div class="badge bg-info text-white px-3 py-2">
            <% if @visit.out_temperature %>
              <%= @visit.out_temperature %>°
            <% else %>
              Sin tomar
          <% end %>
          </div>
        </div>
      </div>
    </div>

    

    </div>
  </div>
</div>
