  
<div class="row justify-content-md-center bg-blue">
  <div class="row justify-content-md-center">
    <div class="card card-login">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group center-text mb-5">
          <h3>Bienvenido</h3>
        </div>
        
        <div class="form-group">
          <%= f.label :email, 'Correo' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label :password, 'Contraseña' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
      
      
        <div class="form-group center-text">
          <%= f.submit "Ingresar", class: 'btn btn-danger px-5' %>
        </div>
      <% end %>
      <% flash.each do |name, msg| %>
      <div class='alert alert-danger'>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
    </div>
  </div>
</div>

  
