<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Maus</h3>
      </div>

      <ul class="list-unstyled components">
          <li>
            <%= link_to 'Tablero', root_path %>
          </li>
          <hr class="separator">
          <li>
            <%= link_to 'Pisos', floors_path %>
          </li>
          <li>
            <%= link_to 'Oficinas', offices_path %>
          </li>

          <li>
            <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Seguridad social</a>
            <ul class="collapse list-unstyled" id="pageSubmenu1">
                <li>
                    <%= link_to 'Eps', healths_path %>
                </li>
                <li>
                  <%= link_to 'Arl', securities_path %>
                </li>
            </ul>
          </li>

          <hr class="separator">
          <li>
            <%= link_to 'Visitantes',  visitors_path %>
          </li>
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Visitas</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                  <%= link_to 'Registrar nueva visita', new_visit_path %>
                </li>
                <li>
                    <%= link_to 'Visitas activas', active_visit_path %>
                </li>
              </ul>
          </li>
          <li>
            <%= link_to 'Fichas', tokens_path %>
          </li>
          <hr class="separator">
          <li>
            <a href="#pageSubmenuSearch" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Buscar</a>
            <ul class="collapse list-unstyled" id="pageSubmenuSearch">
              <li>
                <%= link_to 'Historial', visit_history_path %>
              </li>
              <li>
                  <%= link_to 'Buscar por dia', search_by_date_path %>
              </li>
              <li>
                <%= link_to 'Buscar por visitante', search_by_visitor_path %>
              </li>
            </ul>
          </li>
          <hr class="separator">
          <li class="mt-5">
              <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>
          </li>
      </ul>
  </nav>

  <div id="content" class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span>Mover Menu</span>
      </button>
    </nav>
    <div class="container-fluid">
      <hr>
    </div>


    <%= render 'layouts/messages' %>
        
    



